@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.example-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
  }
  
  .example-container > * {
    width: 90%;
    
  }
  .mat-label,mat-label,.matInput
  {
      color:rgba(182, 182, 184, 0.9);
  }
  .blue-snackbar {
    background: rgb(228, 213, 7);
    color:black;
  }

  .green-snackbar {
    background: rgb(7, 193, 226);
    color:black;
}

.red-snackbar {
    background: #B00020;
    color:gold;
}

.example-card {
  max-width:auto;
  display: inline-flex;
}



