<div class="container-fluid">
    <br>
    <mat-card>ADD A NEW PROJECT
      <button mat-raised-button color="warn" style="float:right;" (click)="logout()">LOGOUT</button>
        <br><br>
          <mat-horizontal-stepper [linear]="!isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Project Title</ng-template>
                <mat-form-field>
                  <input matInput placeholder="Title" formControlName="firstCtrl" required  #pt >
                  
                </mat-form-field>
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Description</ng-template>
                <mat-form-field>
                  <input matInput placeholder="Description" formControlName="secondCtrl" required #pd maxlength="500" minlength="300">
                  <mat-hint align="start">Min : {{pd.value.length}} / 300</mat-hint><mat-hint align="end">Max : {{pd.value.length}} / 500</mat-hint>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="thirdFormGroup">
                <form [formGroup]="thirdFormGroup">
                  <ng-template matStepLabel>DeadLine</ng-template>
                  <mat-form-field>
                    <input matInput placeholder="DeadLine" formControlName="thirdCtrl" required #dd>
                  </mat-form-field>
                  
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>

              <mat-step [stepControl]="fourthFormGroup">
                  <form [formGroup]="fourthFormGroup">
                    <ng-template matStepLabel>Technology</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="Languages" formControlName="fourthCtrl" required #tl>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>

<!------------------------------------------------------------------------------------------------------------>
<mat-step [stepControl]="fifthFormGroup">
  <form [formGroup]="fifthFormGroup">
    <ng-template matStepLabel>Team</ng-template>
    <mat-form-field>
      <input matInput placeholder="Memebers" formControlName="fifthCtrl" required #tm>
    </mat-form-field>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </form>
</mat-step>
<!------------------------------------------------------------------------------------------------------------>

<!------------------------------------------------------------------------------------------------------------>
<mat-step [stepControl]="sixthFormGroup">
    <form [formGroup]="sixthFormGroup">
      <ng-template matStepLabel>Username</ng-template>
      <mat-form-field>
        <input matInput placeholder="Enter Registered Username #" formControlName="sixthCtrl" required #usn>
        <mat-hint align="start"># Case Sensitive </mat-hint>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!------------------------------------------------------------------------------------------------------------>
  

            <mat-step>
              <ng-template matStepLabel>Submit</ng-template>
              
              <div>
                <button mat-button matStepperPrevious >Back</button>&nbsp;
                <button mat-button (click)="stepper.reset()">Reset</button>&nbsp;
                <button mat-raised-button (click)="addDesc(pt.value, pd.value, dd.value, tl.value, tm.value,usn.value)" class="btn btn-info">Submit</button>&nbsp;
             </div>
            </mat-step>
          </mat-horizontal-stepper>
          

        </mat-card><br>
        <mat-card>
          <p class="display-4">My Projects</p>
          
        <mat-card class="proj" >
          <div *ngIf="desc!='';else second">
          <div *ngFor="let d of desc">
            <!-- <button mat-raised-button style="float:right;" class="btn btn-danger" (click)="openDialog()">Delete</button>
            <button mat-raised-button style="float:center;" class="btn btn-primary" (click)="openDialog()">Open</button> -->
            <p class="display-4"><kbd style="text-transform: uppercase;" class="btn-info">{{d.pt}}</kbd></p>
            <strong class="display-4" style="font-size:2em;color:rgb(180, 180, 180)">Description</strong>
          <p class="display-4" style="font-size:1.2em;text-align: justify;word-wrap: break-word;">{{d.pd}}</p>
          <!-- <strong class="display-4" style="font-size:2em;color:rgb(180, 180, 180)">DeadLine</strong>
          <p class="display-4" style="font-size:3em;">{{d.dd}}</p>
          <strong class="display-4" style="font-size:2em;color:rgb(180, 180, 180)">Languages</strong>
          <p class="display-4" style="font-size:2em;">{{d.tl}}</p>
          <strong class="display-4" style="font-size:2em;color:rgb(180, 180, 180)">Team Members</strong>
          <p class="display-4" style="font-size:2em;">{{d.tm}}</p>
           -->
          <mat-divider></mat-divider>
          <br>
        </div>
      </div>
        </mat-card>
        <br>
        
        </mat-card>
        <br>
        <ng-template #second><p class="display-4 btn-info" >No Project Registered</p></ng-template>
        <!------------------------------------------------------------------------------------------------->
        <div *ngIf="hi">
    <mat-card >DESCRIPTION :
        <br>
        <p class="display-4" style="font-size:1.5em;text-align: justify;">A project consists of a concrete and organized effort motivated by a perceived opportunity when facing a problem, a need, a desire or a source of discomfort.</p> 
      </mat-card><br>

    <mat-card >DEADLINE :
      <br>
      <p class="display-4">JUNE 30<sup>th</sup>2019</p> 
    </mat-card><br>
    
    <mat-card >TIME LEFT :<br>
      &nbsp;<p class="display-1" style="font-size:1.1em;float:center;">DAYS:HOURS:MINUTES:SECONDS</p>
    </mat-card><br>
    <mat-card >PERCENTAGE OF COMPLETION : 
      <br>
      <p class="display-4">47%</p>
    </mat-card>
  </div>
    <br>
    
  </div>
