<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<mat-card>
  <p class="display-4">REGISTER</p>
 
  <mat-form-field appearance="outline">
    <mat-label>TEAM NAME</mat-label>
    <input matInput placeholder="Team Name" #tn required>
   
  </mat-form-field>&nbsp;
  <mat-form-field appearance="outline">
      <mat-label>TEAM SIZE<small>#</small></mat-label>
      <input matInput placeholder="Team Size" #ts >
      <mat-hint style="font-size:.8em;"># NOT MANDATORY</mat-hint>
     
    </mat-form-field>&nbsp;

  <mat-form-field appearance="outline">
    <mat-label>TEAM LEADER</mat-label>
    <input matInput placeholder="Team Leader" #tln required>
    <mat-hint style="font-size:.8em;">* ONLY ONE TEAM LEADER PER TEAM</mat-hint>
    
  </mat-form-field>&nbsp;
  <mat-form-field appearance="outline">
    <mat-label>TEAM MAIL</mat-label>
    <input matInput placeholder="Team Mail" #tlm required>

  </mat-form-field>&nbsp;<br>
  <mat-form-field appearance="outline">
      <mat-label>USERNAME</mat-label>
      <input matInput placeholder="Username" #un required>
     
    </mat-form-field>&nbsp;
    <mat-form-field appearance="outline">
        <mat-label>PASSWORD</mat-label>
        <input matInput placeholder="PASSWORD" [type]="hide ? 'password' : 'text'" #pass required>
      </mat-form-field>&nbsp;

   <mat-form-field appearance="outline">
      <mat-label>CONFIRM PASSWORD</mat-label>

        <input matInput placeholder="CONFIRM PASSWORD" [type]="hide ? 'password' : 'text'" #cpass required>
        
      </mat-form-field>&nbsp;&nbsp;&nbsp;<mat-icon matSuffix (click)="hide = !hide" style="cursor:pointer">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon><br>
      <!-- <input class="btn btn-info" type="file"> -->
      <br>
  <button class="btn btn-info" style="font-size:2vh;width:auto" (click)="addUser(tn.value,un.value,tln.value,tlm.value,pass.value,cpass.value,ts.value)">REGISTER</button>
  &nbsp;<mat-hint style="cursor:pointer;" align="start" routerLink="/login">Already Registered ? <u>Si</u>g<u>n In</u></mat-hint>
    
</mat-card>

      <!--  -->